# Summary pre-processing trick

1. Reading data
2. Missing value
3. Format convert
4. Outiler value
5. Data standard

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

# 1. Reading Data

EDA = Exploratory Data Analysis 探索式資料分析

In [35]:
df = pd.read_csv("../../data/WWII_Weather.csv", low_memory=False) # DtypeWarning: Columns (7,8,18,25) have mixed
print(df.shape)
df.head()

(119040, 31)

,STA,Date,Precip,WindGustSpd,MaxTemp,MinTemp,MeanTemp,Snowfall,PoorWeather,YR,...,FB,FTI,ITH,PGT,TSHDSBRSGF,SD3,RHX,RHN,RVG,WTE
0,10001,1942-7-1,1.016,NaN,25.555556,22.222222,23.888889,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,1942-7-2,0,NaN,28.888889,21.666667,25.555556,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,1942-7-3,2.54,NaN,26.111111,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,1942-7-4,2.54,NaN,26.666667,22.222222,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,1942-7-5,0,NaN,26.666667,21.666667,24.444444,0,NaN,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# show all columns and non-null data count
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119040 entries, 0 to 119039
Data columns (total 31 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   STA          119040 non-null  int64
 1   Date         119040 non-null  object
 2   Precip       119040 non-null  object
 3   WindGustSpd  532 non-null     float64
 4   MaxTemp      119040 non-null  float64
 5   MinTemp      119040 non-null  float64
 6   MeanTemp     119040 non-null  float64
 7   Snowfall     117877 non-null  object
 8   PoorWeather  34237 non-null   object
 9   YR           119040 non-null  int64
 10  MO           119040 non-null  int64
 11  DA           119040 non-null  int64
 12  PRCP         117108 non-null  object
 13  DR           533 non-null     float64
 14  SPD          532 non-null     float64
 15  MAX          118566 non-null  float64
 16  MIN          118572 non-null  float64
 17  MEA          118542 non-null  float64
 18  SNF          117877 non-null  object
 19  SND          5563 non-null    float64
 20  FT           0 non-null       float64
 21  FB           0 non-null       float64
 22  FTI          0 non-null       float64
 23  ITH          0 non-null       float64
 24  PGT          525 non-null     float64
 25  TSHDSBRSGF   34237 non-null   object
 26  SD3          0 non-null       float64
 27  RHX          0 non-null       float64
 28  RHN          0 non-null       float64
 29  RVG          0 non-null       float64
 30  WTE          0 non-null       float64
dtypes: float64(20), int64(4), object(7)
memory usage: 28.2+ MB

## 2. Missing value

    (i).   Mean
    (ii).  Median
    (iii). Mode (眾數=出現最多次的數)
    (iv).  Zero
    (v).   Predict (依照經驗給定特定值，小心overfitting)

In [37]:
# 根據本次範例，WW-II 氣溫預測，可以發現目標MEA有missing data，先排除沒有該值的Row(remove unlabel data)
df = df.dropna(subset=["MEA"])
df.shape

(118542, 31)

In [38]:
## check null data
df.isnull().sum()

STA                 0
Date                0
Precip              0
WindGustSpd    118010
MaxTemp             0
MinTemp             0
MeanTemp            0
Snowfall         1150
PoorWeather     84328
YR                  0
MO                  0
DA                  0
PRCP             1921
DR             118009
SPD            118010
MAX                 0
MIN                 2
MEA                 0
SNF              1150
SND            112981
FT             118542
FB             118542
FTI            118542
ITH            118542
PGT            118017
TSHDSBRSGF      84328
SD3            118542
RHX            118542
RHN            118542
RVG            118542
WTE            118542
dtype: int64

In [41]:
# 判讀null data 有完全是null的col，直接刪除

whole_null_list = df.columns[(df.isnull().sum() == df.shape[0])]
print(whole_null_list)


df = df.drop(whole_null_list, axis=1) # axis=1 remove from col
df.shape

Index(['FT', 'FB', 'FTI', 'ITH', 'SD3', 'RHX', 'RHN', 'RVG', 'WTE'], dtype='object')

(118542, 22)

In [40]:
# 判讀columns可以發現重複的數據 remove them

In [37]:
#

,Title,Genres,Rank,Popularity,Score,Episodes,Episode length,Release Date
2419,Mama ga Hakuchou Datta hi,NaN,12598,17508,NaN,1,2 min.,NaN
2420,Mama no Earring,NaN,12599,17540,NaN,1,2 min.,NaN
2421,Malta no Bouken Season 3,NaN,12595,18111,NaN,12,5 min. per ep.,Spring 2017
2422,Malta no Kamishibai,NaN,12596,18122,NaN,6,6 min. per ep.,NaN
2423,Mama no Kekkon,NaN,12600,17869,NaN,1,4 min.,NaN

In [40]:
df_anime["Score"] = df_anime["Score"].fillna(0)
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20343 entries, 0 to 20342
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Title           20343 non-null  object
 1   Genres          10016 non-null  object
 2   Rank            20343 non-null  object
 3   Popularity      20343 non-null  int64
 4   Score           20343 non-null  float64
 5   Episodes        20343 non-null  object
 6   Episode length  20343 non-null  object
 7   Release Date    5087 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 1.2+ MB

## 3. Format convert

    (i).  String to integer
    (ii). Date split

In [11]:
# (i).  String to integer
# 處理 TSHDSBRSGF

In [12]:
# (ii). Date split
# 處理 Date，雖然YR/MO/DA 有想要的資訊，但在練習一次

## 4. Outiler value

In [ ]:
# plot.joint
# 變數分析

# 5. Data Standard / Max / Min Scaler

In [ ]:
# 數據分布轉換