# built-in data structure
    * list
    * tuple
    * dictionary
    * set
    * datatime
    * ...

## Tuples

same as list, but 

    * Immutable
    * Enclosed in parantheses ()
    * must comma, a = (11, 22, 33)

In [2]:
tuple1 = (11, 22, 33)

In [4]:
print(tuple1[0])
print(tuple1[-1])
print(tuple1[0:1])

11
33
(11,)

In [14]:
tuple2 = (11)
type(tuple2) # <- just value

int

In [15]:
tuple3 = (11,)
type(tuple3) # <- tuple fr single element!!!

tuple

In [16]:
tuple4 = (11, 22, 33)

In [17]:
tuple5 = tuple4
tuple4 += (44,)

In [18]:
print(tuple4)
print(tuple5)

(11, 22, 33, 44)
(11, 22, 33)

In [19]:
tuple4.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [20]:
sorted(tuple4) # => become list

[11, 22, 33, 44]

In [21]:
len(tuple4)

4

In [23]:
list1 = [11, 22, 33, 44]
tuple6 = tuple(list1)
tuple6

(11, 22, 33, 44)

In [28]:
# zip two variable, tuple type

newid = '10123456789'
weight = [1,9,8,7,6,5,4,3,2,1,1]

for apair in zip(newid, weight):
    print(apair)
    
print(type(apair))
print(apair[0])
print(apair[1])

('1', 1)
('0', 9)
('1', 8)
('2', 7)
('3', 6)
('4', 5)
('5', 4)
('6', 3)
('7', 2)
('8', 1)
('9', 1)
<class 'tuple'>
9
1

# The Lambda Operatoor