# String

EX: s = 'Kenny'

In [14]:
s = 'Kenny'

In [15]:
len(s)

5

In [16]:
# use index
for idx in range(len(s)):
    print("index: %d, s = %s" %(idx, s[idx]) )

index: 0, s = K
index: 1, s = e
index: 2, s = n
index: 3, s = n
index: 4, s = y

In [17]:
# negative index
for i in range(len(s)+1, len(s)*2+1, 1):
    idx = len(s) - i
    print("index: %d, s = %s" %(idx, s[idx]) )

index: -1, s = y
index: -2, s = n
index: -3, s = n
index: -4, s = e
index: -5, s = K

In [18]:
# slice string
print(s[0:2]) # [0] + [1]

Ke

In [19]:
# in for lp
for text in s:
    print(text)

K
e
n
n
y

# String, List, and Sequence

    * String and List are quite similar
    
    * String and List are a specical kind of Sequence(ordered array)

In [20]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [22]:
[1, 2] * 3

[1, 2, 1, 2, 1, 2]

In [26]:
grades = ['A', 'B']*3
grades

['A', 'B', 'A', 'B', 'A', 'B']

In [25]:
len(grades)

6

### difference between String and List

In [30]:
# element of list can contain anything
# string only char

s = 'Kenny123'
l = ['K', 'e', 'n', 'n', 'y', 1, 2.0, '3']
print(s)
print(type(s[-2]))
print(l)
print(type(l[-2]))

<class 'str'>
<class 'float'>

In [32]:
# list is mutable
l[0] = 'C'
l

['C', 'e', 'n', 'n', 'y', 1, 2.0, '3']

In [34]:
# string can noot be changed (immutable object)
s[0] = 'C'
s

TypeError: 'str' object does not support item assignment

In [39]:
# Converting Data Format

def ymd2mdy(text):
    text = str(text)
    yy = text[0:4]
    mm = text[4:6]
    dd = text[6:8]
    return mm + dd + yy

In [40]:
print(ymd2mdy(20141203))

12032014

## 身分證 驗證機制

中華民國的身分證字號有其特定的編碼原則。第一個字是大寫的英文字母，其餘9個字必須為數字， 但在套用編碼原則時，第一個英文字母將會先依下表被轉換為數字

|  |   |   |   |   |   |   |   |   |   |   |   |   |   |
|------|----|----|----|----|----|----|----|----|----|----|----|----|----|
| 字母 | A  | B  | C  | D  | E  | F  | G  | H  | J  | K  | L  | M  | N  |
| 數字 | 10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 20 | 21 | 22 |
| 字母 | P  | Q  | R  | S  | T  | U  | V  | X  | Y  | W  | Z  | I  | O  |
| 數字 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 30 | 31 | 32 | 33 | 34 | 35 |

轉換後的身分證字號(共11位數字)每一位數均有固定的權重(Weight)，由左往右依序為 『1 9 8 7 6 5 4 3 2 1 1』。判斷身分證字號是否正確的方法為： 各位數字與其相對應的權重相乘後再加總，加總後的結果若為10的倍數則身分證字號即屬正確。

In [103]:
def convertAlphabet(text):
    ans = 0
    # A ~ H
    if (text <= 'H'):
        ans = ord(text) - ord('A') + 10
        return ans
    # I
    elif (text == 'I'):
        ans = 34
        return ans
    # J ~ N
    elif (text <= 'N'):
        ans = ord(text) - ord('A') + 9
        return ans
    # O
    elif (text == 'O'):
        ans = 35
        return ans
    # P ~ V
    elif (text == 'V'):
        ans = ord(text) - ord('A') + 8
        return ans
    # W
    elif (text == 'W'):
        ans = 32
        return ans
    # X
    elif (text == 'X'):
        ans = 30
        return ans
    # Y
    elif (text == 'Y'):
        ans = 31
        return ans
    # Z
    elif (text == 'Z'):
        ans = 33
        return ans

In [104]:
convertAlphabet('B')

11

In [117]:
# Validating Taiwan ID String

def validID(data):
    
    data = list(data)
    
    # cjeck len == 10
    if (len(data) != 10):
        print("len != 10")
        return False
    
    # check frist letter
    if (data[0] < 'A' or data[0] > 'Z'):
        print("ID[0] is not at A~Z")
        return False
    
    # check other letter is number
    for elem in data[1:]:
        if (elem < '0' or elem > '9'):
            print("ID[1:] is not number")
            return False
    
    # check secnod letter 1 or 2 => male or female
    if (data[1] == 1 or data[1] == 2):
        print("ID[1] is not 1 or 2")
        return False
    
    # convect frist element
    newElem = convertAlphabet(data[0])
    data[0] = newElem // 10
    data.insert(1, newElem % 10)
    print(data)
    
    # check sum
    sum = 0
    weigth = [1, 9, 8, 7, 6, 5, 4, 3, 2, 1, 1]
    for idx in range(0, len(data), 1):
        sum += weigth[idx] * int(data[idx])
        
    print("sum =", sum)
    
    if (sum % 10 != 0):
        print("sum vaild fail")
        return False
    
    return True

In [118]:
validID('Z123456780')

[3, 3, '1', '2', '3', '4', '5', '6', '7', '8', '0']
sum = 150

True

# Commen operator

In [157]:
## chr and ord
chr(87)

'W'

In [120]:
ord('W')

87

In [121]:
ord('狗')

29399

In [122]:
chr(29399)

'狗'

In [129]:
s = 'kenny + 123'

In [133]:
print(s.capitalize()) # first upper
print(s.title()) # first upper
print(s.upper())
print(s.replace('e', 'a'))

Kenny + 123
Kenny + 123
KENNY + 123
kanny + 123

In [134]:
uletter = "ABCDEFGHIJKLMNOPQRSYUVWXYZ"

'A' in uletter

True

In [135]:
'a' in uletter

False

In [136]:
'AD' in uletter

False

In [137]:
'MN' in uletter

True

In [138]:
tel = "0912-123-456"

tel.find('-')

4

In [139]:
tel.isnumeric()

False

In [143]:
tel = "912123456"
tel.isnumeric()

True

In [144]:
s6 = "HI"
s6.isupper()

True

In [145]:
s6 = "HI amber"
s6.split()

['HI', 'amber']

In [146]:
s7 = " google.com    "
print(s7.strip()) # no more spcae

google.com

In [154]:
s7 = "www.google.com"
print(s7.strip('w.moc')) # remove given char

google

In [1]:
s8 = 'AA'
s9 = s8 * 5
s9

'AAAAAAAAAA'

## String Formatting

In [160]:
x = 123.456789

print("x = %.2f" %(x) )

x = 123.46

In [164]:

# Python program showing
# use of format() method
 
# using format() method
x = 12.3
print('I love {} for "{}!"'.format('Geeks', x))
 
# using format() method and referring
# a position of the object
print('{0} and {1}'.format('Geeks', x))
 
print('{1} and {0}'.format('Geeks', x))

I love Geeks for "12.3!"
Geeks and 12.3
12.3 and Geeks
I love Geeks for "Geeks!"
Geeks and Portal

In [167]:

# Python program showing
# a use of format() method
 
# combining positional and keyword arguments
print('Number one portal is {1}, {0}, and {other}.'.format('Geeks', 'For', other ='Geeks'))
 
# using format() method with number
print("Geeks :{0:2d}, Portal :{1:8.2f}".format(12, 0.546))
 
# Changing positional (0,1,2,...) argument
print("Second argument: {1:3d}, first one: {0:7.2f}".format(47.42, 11))
 
print("Geeks: {a:5d},  Portal: {p:8.2f}".format(a = 453, p = 59.058))

Number one portal is For, Geeks, and Geeks.
Geeks :12, Portal :    0.55
Second argument:  11, first one:   47.42
Geeks:   453,  Portal:    59.06