In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("../../data/top10language.csv")
df

,#,Date,Abap,Ada,C/C++,C#,Cobol,Dart,Delphi/Pascal,Go,...,PHP,Python,R,Ruby,Rust,Scala,Swift,TypeScript,VBA,Visual Basic
0,0,July 2004,0.0034,0.0036,0.1008,0.0471,0.0043,0.0000,0.0282,0.0000,...,0.1875,0.0253,0.0039,0.0033,0.0008,0.0003,0.0000,0.0000,0.0144,0.0856
1,1,August 2004,0.0036,0.0036,0.0981,0.0499,0.0046,0.0000,0.0267,0.0000,...,0.1926,0.0264,0.0041,0.0040,0.0009,0.0003,0.0000,0.0000,0.0146,0.0857
2,2,September 2004,0.0041,0.0041,0.0963,0.0506,0.0051,0.0000,0.0265,0.0000,...,0.1949,0.0272,0.0040,0.0041,0.0010,0.0003,0.0000,0.0000,0.0155,0.0841
3,3,October 2004,0.0040,0.0038,0.0950,0.0531,0.0053,0.0000,0.0277,0.0000,...,0.1934,0.0292,0.0042,0.0046,0.0011,0.0004,0.0000,0.0000,0.0161,0.0849
4,4,November 2004,0.0038,0.0038,0.0952,0.0524,0.0055,0.0000,0.0276,0.0000,...,0.1943,0.0284,0.0041,0.0045,0.0013,0.0004,0.0000,0.0000,0.0150,0.0824
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,201,April 2021,0.0048,0.0085,0.0667,0.0686,0.0038,0.0054,0.0027,0.0135,...,0.0617,0.2994,0.0377,0.0116,0.0109,0.0069,0.0176,0.0188,0.0125,0.0074
202,202,May 2021,0.0051,0.0084,0.0659,0.0685,0.0040,0.0063,0.0027,0.0137,...,0.0607,0.3007,0.0386,0.0108,0.0111,0.0070,0.0180,0.0191,0.0131,0.0071
203,203,June 2021,0.0047,0.0081,0.0651,0.0687,0.0044,0.0066,0.0028,0.0133,...,0.0582,0.3004,0.0380,0.0109,0.0125,0.0071,0.0187,0.0197,0.0125,0.0072
204,204,July 2021,0.0045,0.0082,0.0646,0.0665,0.0050,0.0071,0.0024,0.0128,...,0.0584,0.2977,0.0387,0.0101,0.0129,0.0082,0.0187,0.0202,0.0119,0.0076
205,205,August 2021,0.0046,0.0077,0.0645,0.0673,0.0051,0.0068,0.0020,0.0129,...,0.0576,0.2993,0.0392,0.0102,0.0121,0.0079,0.0196,0.0211,0.0116,0.0075

In [4]:
df["Date"]

0           July 2004
1         August 2004
2      September 2004
3        October 2004
4       November 2004
            ...
201        April 2021
202          May 2021
203         June 2021
204         July 2021
205       August 2021
Name: Date, Length: 206, dtype: object